
*{
    margin: 10px;
}

body{
    background-color: rgb(14, 179, 157);
    color: white;
}

.uno{
    background-color: rgb(204, 8, 204);
    text-align: center;
}

.dos{
    background-color: rgb(20, 218, 63);
}

.tres{
    background-color: rgb(204, 8, 204);
    text-align: right;
}

ul{
   flex-direction: column;
   justify-content: left;
   align-items: left;
    display: flex;
    height: inherit;
}

.uno-boton{
    width: 250px;
    height: 40px;
    background-color: rgb(79, 29, 170);
    border-radius: 24px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    margin-top: 30px;
}
